services:
    nginx:
        image: nginx:stable-alpine
        ports:
            - "8000:80"
        volumes:
            - .:/var/www/html
            - ./nginx.conf:/etc/nginx/conf.d/default.conf
        depends_on:
            - php
            - mysql

    php:
        build:
            context: .
            dockerfile: Dockerfile
        volumes:
            - .:/var/www/html
        ports:
            - "9000:9000"
        environment:
            DB_CONNECTION: mysql
            DB_HOST: mysql
            DB_PORT: 3306
            DB_DATABASE: laravel
            DB_USERNAME: root
            DB_PASSWORD: root_password
        depends_on:
            mysql:
                condition: service_healthy
        command: sh -c "sed -i 's/\r$//' /var/www/html/race_test.sh && chmod +x /var/www/html/race_test.sh && php artisan migrate:fresh --seed && php-fpm"

    mysql:
        image: mysql:8.0
        ports:
            - "3306:3306"
        environment:
            MYSQL_DATABASE: laravel
            MYSQL_ROOT_PASSWORD: root_password
        volumes:
            - mysql-data:/var/lib/mysql
        healthcheck:
            test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost", "-u", "root", "-proot_password"]
            timeout: 20s
            retries: 10

volumes:
    mysql-data:
